@font-face {
    font-family: 'MavenPro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:    url('../fonts/MavenProMedium.woff2') format('woff2'),
            url('../fonts/MavenProMedium.woff') format('woff');
}

@font-face {
    font-family: 'MavenPro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:    url('../fonts/MavenProBold.woff2') format('woff2'),
            url('../fonts/MavenProBold.woff') format('woff');
}
