<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <a class="logo footer__logo" href="#">
                <picture class="logo__picture">
                    <source srcset="images/logo-mobile.svg" media="(max-width: 320px)">
                    <img class="logo__images" srcset="images/logo.svg" alt="logo">
                </picture>
            </a>
            <nav class="menu footer__menu">
                <ul class="menu__list footer__list">
                    <li class="menu__item footer__item footer__item--calendar">
                        <a class="menu__link footer__link" href="#">    
                            <svg class="footer__icon footer__icon--calendar">
                                <use xlink:href="images/sprite.svg#calendar"></use>
                            </svg>
                            Calendar
                        </a>
                    </li>
                    <li class="menu__item footer__item footer__item--plans">
                        <a class="menu__link footer__link" href="#">
                            <svg class="footer__icon">
                                <use xlink:href="images/sprite.svg#plans"></use>
                            </svg>
                            Plans
                        </a>
                    </li>
                    <li class="menu__item footer__item footer__item--to-do">
                        <a class="menu__link footer__link" href="#">
                            <svg class="footer__icon">
                                <use xlink:href="images/sprite.svg#to-do"></use>
                            </svg>
                            To Do
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="social">
                <ul class="social__list">
                    <li class="social__item">
                        <a class="social__link" href="#">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#twiter"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <button class="social__btn" type="button">
                    <svg class="social__share">
                        <use xlink:href="images/sprite.svg#share"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</footer>