<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="#">
                <picture class="logo__picture">
                    <source srcset="images/logo-mobile.svg" media="(max-width: 320px)">
                    <img class="logo__images" srcset="images/logo.svg" alt="logo">
                </picture>
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">Calendar</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link menu__link--active">Plans</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">To Do</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>